{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>STEP SEQUENCER</title>
    <script
      src="https://kit.fontawesome.com/4709b6c3ee.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="{% static 'images/music.png' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <div class="container">
      <div class="top">
        <h1>STEP SEQENSER</h1>
        <i class="fa-solid fa-play" id="play-btn"></i>
        <i class="fa-solid fa-stop" id="stop-btn"></i>
        <i class="fa-solid fa-repeat" id="loop-btn"></i>
        <input
          type="range"
          id="slider"
          min="40"
          max="200"
          step="1"
          value="90"
        />
        <p id="value">90bpm</p>
        <!-- <p id="bpm-lamp">♪</p> -->
      </div>
      <div class="drum-top">
        <h2>DRUM</h2>
        <input type="button" id="clear-btn-drum" value="CLEAR" />
      </div>
      <div class="drum-container">
        <div class="instruments-drum">
          <div class="kick" id="inst-kick">KICK</div>
          <div class="snare" id="inst-snare">SNARE</div>
          <div class="clap" id="inst-clap">CLAP</div>
          <div class="hat-closed" id="inst-hat-closed">HIHAT CLOSED</div>
        </div>
        <div id="sequencer-drum">
          <div id="LEDStep">
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
            <div class="led"></div>
          </div>
          <div id="kick">
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
          </div>
          <div id="snare">
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
          </div>
          <div id="clap">
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
          </div>
          <div id="closedHat">
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
          </div>
        </div>
      </div>
      <div class="piano-top">
        <h2>PIANO</h2>
        <input type="button" value="CLEAR" id="clear-btn-piano" />
      </div>
      <div class="piano-container">
        <div class="instruments-piano">
          <div id="note-C">ド</div>
          <div id="note-D">レ</div>
          <div id="note-E">ミ</div>
          <div id="note-F">ファ</div>
          <div id="note-G">ソ</div>
          <div id="note-A">ラ</div>
          <div id="note-B">シ</div>
        </div>
        <div class="sequencere-piano">
          <div id="LED-step-piano">
            <div class="led-piano led1"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
            <div class="led-piano"></div>
          </div>
          <div class="piano-seq-c">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
          <div class="piano-seq-d">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
          <div class="piano-seq-e">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
          <div class="piano-seq-f">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
          <div class="piano-seq-g">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
          <div class="piano-seq-a">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
          <div class="piano-seq-b">
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="{% static 'js/script.js' %}"></script>
  </body>
</html>
